<% content_for :title, @sub_category[:title] %>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render 'layouts/components/links/breadcrumbs', breadcrumbs: @sub_category[:breadcrumbs], current_page_title: @sub_category[:title] %>
      </div>
    </div>
    <div class="background-wide background-cream">
      <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-7">
        <div class="govuk-grid-column-three-quarters">
          <%= render 'layouts/components/small', text: @sub_category[:collection_name] %>
          <%= render 'layouts/components/headings/one', text: @sub_category[:title] %>
        </div>
      </div>
    </div>
    <div class="govuk-grid-column-three-quarters govuk-!-padding-top-9 govuk-!-padding-bottom-7">
      <%= render 'layouts/renderers/component_renderer', contents: @sub_category[:description] %>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-full">
        <%= render 'layouts/renderers/component_renderer', contents: @sub_category[:content] %>
      </div>
    </div>
  </main>
  <%= render 'layouts/bottom_nav' %>
</div>
