<div class="govuk-width-container">
  <%= render 'layouts/components/images/hero', image_src: @case_study[:hero_image] %>
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <% @case_study[:content].each do |content| %>
          <% case content[:type] %>
          <% when :heading %>
            <% case content[:data][:level] %>
            <% when :heading_one %>
              <div class="govuk-grid-row text-align-center">
                <%= render 'layouts/components/headings/one', text: content[:data][:text] %>
              </div>
            <% when :heading_two %>
              <div class="govuk-grid-row text-align-center width-s">
                <%= render 'layouts/components/headings/two', text: content[:data][:text] %>
              </div>
            <% when :heading_three %>
              <div class="govuk-grid-row govuk-!-padding-top-9 width-s heavy">
                <%= render 'layouts/components/headings/three', text: content[:data][:text] %>
              </div>
            <% when :heading_four %>
              <div class="govuk-grid-row text-align-left">
                <%= render 'layouts/components/headings/four', text: content[:data][:text] %>
              </div>
            <% end %>
          <% when :paragraph %>
            <div class="govuk-grid-row width-s">
              <%= render 'layouts/components/paragraph', text: content[:data][:text] %>
            </div>
          <% when :image %>
            <% case content[:data][:width] %>
            <% when :full_bleed %>
              <div class="govuk-grid-row govuk-!-padding-top-9">
                <%= render 'layouts/components/images/full_bleed_image', alt_text: 'example image', image_src: content[:data][:url] %>
              </div>
            <% end %>
          <% when :testimonial %>
            <div class="govuk-grid-row govuk-!-padding-top-9 width-s">
              <%= render 'layouts/components/testimonial', testimonial: content[:data] %>
            </div>
          <% when :small %>
            <div class="govuk-grid-row width-s text-align-center">
              <%= render 'layouts/components/small', text: content[:data][:text] %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </main>
</div>
