<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-grid-row">
          <%= render 'layouts/components/headings/one', text: 'Example heading one' %>
        </div>
        <div class="govuk-grid-row">
          <%= render 'layouts/components/headings/two', text: 'Example heading two' %>
        </div>
        <div class="govuk-grid-row">
          <%= render 'layouts/components/headings/three', text: 'Example heading three' %>
        </div>
        <div class="govuk-grid-row">
          <%= render 'layouts/components/headings/four', text: 'Example heading four' %>
        </div>
        <div class="govuk-grid-row">
          <%= render 'layouts/components/paragraph', text: 'Example paragraph' %>
          <%= render 'layouts/components/paragraph', text: 'And another example paragraph' %>
          <%= render 'layouts/components/paragraph', text: 'Yet another example' %>
        </div>
        <div class="govuk-grid-row">
          <%= render 'layouts/components/link', text: 'Example link' %><br />
          <%= render 'layouts/components/link', text: 'And another link' %><br />
          <%= render 'layouts/components/link', text: 'Yet another link' %>
        </div>
        <div class="govuk-grid-row">
          <%= render 'layouts/components/full_bleed_image', alt_text: 'example image', image_src: asset_url('full-width-example.png') %>
        </div>
        <div class="govuk-grid-row">
          Some other text
        </div>
      </div>
    </div>
  </main>
</div>
