<div class="govuk-width-container">
  <%= render 'layouts/components/images/hero', image_src: asset_url('home-hero-lady.jpg') %>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row govuk-!-padding-3">
      <div class="govuk-grid-column-full">
        <div class="govuk-grid-row govuk-!-padding-top-5">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <%= render 'layouts/components/headings/three', text: 'Information', bold: false %>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <%= render 'layouts/components/buttons/secondary_button', link: '/in-development', text: 'School strategy' %><br />
              <%= render 'layouts/components/buttons/secondary_button', link: '/in-development', text: 'Curriculum & accountability' %><br />
              <%= render 'layouts/components/buttons/secondary_button', link: '/in-development', text: 'News' %>
            </div>
            <div class="govuk-grid-column-one-half">
              <%= render 'layouts/components/buttons/secondary_button', link: '/in-development', text: 'Developing people' %><br />
              <%= render 'layouts/components/buttons/secondary_button', link: '/in-development', text: 'Reduce teacher workload' %>
            </div>
          </div>
        </div>
        <div class="govuk-grid-row govuk-!-padding-top-5 govuk-!-padding-bottom-9">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <%= render 'layouts/components/headings/three', text: 'Services' %>
            </div>
          </div>
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <%= render 'layouts/components/buttons/primary_button', text: 'Get school-to-school support', link: '/in-development' %>
              <%= render 'layouts/components/buttons/primary_button', text: 'Find a job in teaching', link: '/tvs' %>
            </div>
            <div class="govuk-grid-column-one-half">
              <%= render 'layouts/components/buttons/primary_button', text: 'List a teaching job at your school', link: 'https://teaching-vacancies.service.gov.uk/' %>
            </div>
          </div>
        </div>
        <div class="background-wide background-grey">
          <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-9">
            <div class="govuk-grid-column-one-third govuk-!-padding-top-7">
              <%= render 'layouts/components/headings/two', text: 'Stay informed and compliant' %>
              <p class="govuk-body">Latest updates</p>
              <div class="govuk-row">
                <%= render 'layouts/components/small', text: '1 update — 5 mins ago' %>
                <%= render 'layouts/components/links/external', link: "https://www.gov.uk/government/publications/high-needs-strategic-planning-fund", text: 'High needs strategic planning (guidance)' %>
                <hr class="section-break-thin">
              </div>
              <div class="govuk-row">
                <%= render 'layouts/components/small', text: '3 updates — 1 hour ago' %>
                <%= render 'layouts/components/links/external', link: "https://www.gov.uk/government/publications/school-census-2018-to-2019-guide-for-schools-and-las", text: 'School census 2018 to 2019: technical information (guidance)' %>
                <hr class="section-break-thin">
              </div>
              <div class="govuk-row">
                <%= render 'layouts/components/small', text: '7 updates — a week ago' %>
                <%= render 'layouts/components/links/external', link: "https://www.gov.uk/government/publications/regulating-independent-schools", text: 'Regulating independent schools' %>
                <hr class="section-break-thin">
              </div>
            </div>
            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-7" style="background-color:white;">
              <%= render 'layouts/components/headings/two', text: 'Help us shape education policy in England' %>
              <p class="govuk-body">Get involved and help us test out new policy thinking and initiatives</p>
              <div class="govuk-row">
                <div class="govuk-grid-column-one-half">
                  <%= render 'layouts/components/images/image', image_src: asset_url('phone.jpg'), image_width: 'thumbnail' %>
                  <p class="govuk-body govuk-!-margin-bottom-6">Relationships and Sex Education (RSE) and Health Education</p>
                  <%= render 'layouts/components/links/internal', link: "/in-development", text: 'Register to be an early adopter school' %>
                </div>
                <div class="govuk-grid-column-one-half">
                  <%= render 'layouts/components/images/image', image_src: asset_url('phone2.jpg'), image_width: 'thumbnail' %>
                  <p class="govuk-body govuk-!-margin-bottom-9">Curriculum Materials Beta testers wanted!</p>
                  <%= render 'layouts/components/links/internal', link: "/in-development", text: 'Help us develop our new curriculum materials platform' %>
                </div>
                <div class="govuk-row">
                  <div class="govuk-grid-column-full govuk-!-margin-top-9">
                    <%= render 'layouts/components/buttons/secondary_button', link: '/in-development', text: 'See other ways you can help out' %><br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-9">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <%= render 'layouts/components/headings/three', text: 'Find and advertise a job' %>
            </div>
          </div>
          <div class="govuk-grid-row govuk-!-padding-top-5">
            <div class="govuk-grid-column-one-half">
              <%= render 'layouts/components/links/internal', link: "/in-development", text: 'Assisstant head teacher' %>
              <p class="govuk-body">West Bromwich, West Midlands, B71 2QR</p>
              <%= render 'layouts/components/links/internal', link: "/in-development", text: 'Head of year' %>
              <p class="govuk-body govuk-!-margin-bottom-9">Nottingham, Nottingham, NG11 8JW</p>
              <%= render 'layouts/components/buttons/secondary_button', link: '/tvs', text: 'See all jobs' %><br>
              <%= render 'layouts/components/buttons/secondary_button', link: 'https://teaching-vacancies.service.gov.uk/', text: 'Advertise a job' %>
            </div>
            <div class="govuk-grid-column-one-half">
              <%= render 'layouts/components/images/image', image_src: asset_url('teacher2.png'), image_width: 'default' %>
            </div>
          </div>
        </div>
        <div class="background-wide background-grey">
          <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-9">
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <%= render 'layouts/components/headings/three', text: 'Education apps' %>
                <p class="govuk-body">From teaching French to managing timetables, find digital tools to help you manage and improve how you run your school</p>
                <%= render 'layouts/components/headings/four', text: 'Recently added apps' %>
              </div>
            </div>
            <div class="govuk-grid-row govuk-!-padding-bottom-5">
              <div class="govuk-grid-column-one-half">
                <%= render 'layouts/components/resource_link_with_icon', image_src: asset_url('class-charts.png'), heading: 'ClassCharts', text: 'Behaviour management', link: '/in-development' %>
                <%= render 'layouts/components/resource_link_with_icon', image_src: asset_url('school-ping.png'), heading: 'SchoolPing', text: 'Staff and parent comms', link: '/in-development' %>
              </div>
              <div class="govuk-grid-column-one-half">
                <%= render 'layouts/components/resource_link_with_icon', image_src: asset_url('frog.png'), heading: 'Frog', text: 'Improve pupil outcomes', link: '/in-development' %>
              </div>
            </div>
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-full">
                <%= render 'layouts/components/buttons/secondary_button', link: '/in-development', text: 'See all apps' %>
              </div>
            </div>
          </div>
        </div>
        <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-5">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <%= render 'layouts/components/headings/three', text: 'Resources' %>
              <%= render 'layouts/components/images/image', image_src: asset_url('cartoon-people.png'), image_width: 'default' %>
            </div>
          </div>
          <div class="govuk-grid-row govuk-!-padding-top-9">
            <div class="govuk-grid-column-two-thirds">
              <%= render 'layouts/components/links/external', link: "https://www.gov.uk/government/collections/workload-reduction-toolkit", text: 'Workload reduction toolkit' %>
              <p class="govuk-body govuk-!-margin-top-5">Practical advice and tools for school leaders and teachers to help review and reduce workload</p>
            </div>
          </div>
          <div class="govuk-grid-row govuk-!-padding-top-9 align-items-center">
            <div class="govuk-grid-column-one-half">
              <%= render 'layouts/components/images/image', image_src: asset_url('teacher.png'), image_width: 'default' %>
            </div>
            <div class="govuk-grid-column-one-half">
              <%= render 'layouts/components/links/external', link: "https://www.gov.uk/government/publications/mental-health-and-behaviour-in-schools--2", text: 'Safeguarding & mental health in schools' %>
              <p class="govuk-body govuk-!-margin-top-5">Support on wellbeing for teachers in schools and colleges</p>
            </div>
          </div>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <hr>
          </div>
        </div>
        <div class="govuk-grid-row govuk-!-padding-top-5">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <%= render 'layouts/components/headings/three', text: 'What\'s new?' %>
            </div>
          </div>
          <div class="govuk-grid-row govuk-!-padding-top-5">
            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-9">
              <%= render 'layouts/components/images/image', image_src: asset_url('teacher-effect.png'), image_width: 'thumbnail' %>
              <%= render 'layouts/components/links/external', link: "https://www.youtube.com/watch?v=1gxrGaqw7Rk", text: 'Watch Lizzie\'s #TeacherEffect story unfold here' %>
            </div>
            <div class="govuk-grid-column-one-third govuk-!-margin-bottom-9">
              <%= render 'layouts/components/images/image', image_src: asset_url('life-lessons.png'), image_width: 'thumbnail' %>
              <%= render 'layouts/components/links/external', link: "https://www.youtube.com/watch?v=yiz_Sl2zvuU", text: 'Stacia\'s teacher gave her courage and taught her to believe in herself. #LifeLessons' %>
            </div>
            <div class="govuk-grid-column-one-third">
              <%= render 'layouts/components/images/image', image_src: asset_url('relationships-and-sex-education.png'), image_width: 'thumbnail' %>
              <%= render 'layouts/components/links/external', link: "/in-development", text: 'The way we\'re teaching relationships, sex and health education is changing' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
