<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item dfe-breadcrumbs__current-page" aria-current="page">
                Professional behaviours
            </li>
        </ol>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-4 govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Roll out of the Early Career Framework</h1>
            <%= render 'layouts/components/small', text: 'Last updated on Thursday 16th May 2019' %>
      </div>
      <div class="govuk-grid-column-two-thirds govuk-!-padding-top-9">
          <%= render 'layouts/components/headings/two', text: 'Early roll out', bold: false %>
          <p class="govuk-body">
              From September 2020 we’ll be trialling the ECF in: 
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li><p class="govuk-body">the North East </p></li>
            <li><p class="govuk-body">Greater Manchester</p></li>
            <li><p class="govuk-body">Bradford </p></li>
            <li><p class="govuk-body">Doncaster </p></li>
          </ul>

          <p class="govuk-body">
            Our aim is to understand how to support schools operating in a range of diverse circumstances to deliver the ECF. 

          </p>
          <p class="govuk-body">
                What we learn from these schools will inform our national roll out, which will start from September 2021. 

          </p>
            <p class="govuk-body">
              We encourage all eligible schools to participate early so that they can start benefiting from this additional support offer, but it’s not mandatory. 
          </p>
          <%= render 'layouts/components/headings/two', text: 'Who can opt in ', bold: false %>

            <p class="govuk-body">
               Your school can opt in if you’re in an early roll out area and have an early career teacher starting induction in September 2020. 
              This will give you access to funding and training to support the development of your early career teachers and their mentors. 
          </p>
            <p class="govuk-body">
                We’re committed to giving you enough lead-in time ahead of roll out. 
          </p>
            <%= render 'layouts/components/headings/three', text: 'Statutory induction in early roll out areas', bold: false %>

            <p class="govuk-body">
                Statutory changes to induction will not be introduced until the reforms are rolled out nationally. 

          </p>
            <p class="govuk-body">
                The ECF support package will last 2 years in early roll out areas, while statutory induction will continue to take 1 year. 
          </p>
            <p class="govuk-body">
              After 1 year, early career teachers will be assessed against the Teachers’ Standards to determine whether they have passed induction. 
              There is no change to present arrangements. 
          </p>
            <%= render 'layouts/components/headings/two', text: 'National roll out', bold: false %>

            <p class="govuk-body">
                National roll out of the ECF will affect early career teachers starting their induction in September 2021. 

          </p>
            <p class="govuk-body">
              Your school will receive additional funding to account for: 
          </p>
            <p class="govuk-body">
              second-year teachers’ 5% time off timetable additional calls on mentors’ time 
          </p>
            <p class="govuk-body">
              We’ll confirm precise funding details as part of the 2019 Spending Review. 
          </p>
          <%= render 'layouts/components/headings/two', text: 'Delivering induction', bold: false %>
            <p class="govuk-body">
              We’ll include details of how the ECF will support induction in the updated statutory guidance. 
          </p>
            <p class="govuk-body">
              We do not expect schools to use the framework before this statutory guidance is in place. 
          </p>
          <%= render 'layouts/components/headings/three', text: 'Statutory induction after national roll out', bold: false %>
            <p class="govuk-body">
              The only change will be the extended induction period of 1 to 2 years. 
          </p>
            <p class="govuk-body">
          <%= render 'layouts/components/headings/three', text: 'Qualified teacher status (QTS)', bold: false %>
          </p>
            <p class="govuk-body">
              There will be no change to the award of QTS. 
          </p>
          <%= render 'layouts/components/headings/three', text: 'QTS will continue to be awarded:', bold: false %>
            <ul class="govuk-list govuk-list--bullet">
            <li><p class="govuk-body">at the end of initial teacher training (ITT) </p></li>
            <li><p class="govuk-body">before the start of statutory induction (minus exemptions from assessment only routes) </p></li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>