<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-breadcrumbs">
          <ol class="govuk-breadcrumbs__list">
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/">Home</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/category/hiring">Hiring and development</a>
              </li>
              <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/sub-category/supporting-early-career-teachers">Supporting early career teachers</a>
              </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="/guidance/plan-and-teach-well-structured-lessons">Plan and teach well structured lessons</a>
            </li>
            <li class="govuk-breadcrumbs__list-item dfe-breadcrumbs__current-page" aria-current="page">
              How to create a culture of respect and trust
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-9">
      <div class="govuk-grid-column-full">
        <%= render 'layouts/components/headings/one', text: 'How to create a culture of respect and trust' %>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          Empathy builds trust and respect among people. The more empathy someone has the better they will want to treat others. By using these activities in the classroom you can improve the behaviour of your pupils. 
        </p>
      </div>
    </div>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <%= render 'layouts/components/headings/two', text: 'Mindfulness' %>
        <%= render 'layouts/components/headings/three', text: 'Why meditate' %>
        <p class="govuk-body">
          As a classroom practice, meditation can help students strengthen their self-regulation and their focus on coursework. It also boosts their overall health, reduces negative feelings, and fosters compassion.
        </p>
        <%= render 'layouts/components/headings/three', text: 'Before you start' %>
        <p class="govuk-body">1. Develop a personal practice before introducing it into the classroom</p>
        <p class="govuk-body">
          Pupils who are unfamiliar with meditation may find it awkward and strange. Showing competency will settle their nerves and create trust. Join a community center or yoga studio that offers meditation. Meditate at home, in a park, or on the subway. Practice until you feel comfortable introducing it to the classroom.
        </p>
        <p class="govuk-body">2. Be consistent</p>
        <p class="govuk-body">
          Make sure pupils meditate during the first 5 minutes of every class you have with them - even with substitutes. A consistent and enforced routing yields stronger benefits and clear expectations.
        <p class="govuk-body">3. Know the benefits</p>
        <p class="govuk-body">
          There are many benefits to meditation, including how: 
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>meditation boosts our immune system's ability to fight off illness</li>
          <li>practice increases positive emotions while reducing stress and negative feelings</li>
          <li>it helps us tune out distractions and improves attentiveness</li>
          <li>meditation fosters compassion and kindness</li>
        </ul>
      </div>
    </div>
    <div class="govuk-grid-row govuk-!-padding-top-9 govuk-!-padding-bottom-5">
      <div class="govuk-grid-column-one-third">
        <p class="govuk-body">
          <b>Suggested time</b><br>
          10 minutes
        </p>
        <p class="govuk-body">
          <b>Level of difficulty</b><br>
          Easy
        </p>
        <p class="govuk-body">
          <b>Materials needed</b><br>
          N/A
        </p>
        <p class="govuk-body">
          <b>Participants</b><br>
          Pupils
        </p>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <%= render 'layouts/components/headings/three', text: 'How to run a meditation session in the classroom', bold: true %>
        <p class="govuk-body">
          Explore your students’ knowledge about meditation. For example, it’s a good time to say that this meditation isn’t religious – it is just a simple process of focusing on the sensation of the breath. Staff at Facebook and Google opt in to meditation sessions such as this at their workplace. Your class could at this stage watch feedback from other students.
        </p>
        <ul class="govuk-list govuk-list--number">
          <li><p class="dfe-list__item">Introduce the meditation. Explain to the students that for the next 5 to 10 minutes (or longer as you progress) they are going to sit quietly and practice a breathing meditation.</p></li>
          <li><p class="dfe-list__item">Encourage the students to sit comfortably in their chair. The most important aspect of the meditation posture is to keep a straight back and have relaxed shoulders. You could play this introductory video about the meditation posture, or view it for your own research beforehand. If the children are young you can get them to lie down comfortably.</p></li>
          <li><p class="dfe-list__item">Ask the pupils to gently close their eyes. This helps to prevent distraction and begins to calm the mind.</p></li>
          <li><p class="dfe-list__item">Tell them to tighten each muscle in their bodies, starting with their toes and moving all the way up to their heads. Have them hold each tightened muscle for a few seconds before fully releasing it and relaxing their bodies. This activity will help the children loosen up their bodies and minds. This is also a very effective method to teach children how to stay in the present moment.</p></li>
          <li><p class="dfe-list__item">Tell the pupils to focus on their breathing and nothing else. Breathe in and out in time with the Calm for Schools website: <a target="_blank" rel="nofollow noopener" href="https://www.calm.com/breathe?from=/schools" class="govuk-link">https://www.calm.com/breathe?from=/schools</a>. Do this for 5 to 10 minutes initially.</p></li>
          <li><p class="dfe-list__item">After 5 to 10 minutes bring the meditation to an end gradually. Remind students to become aware of the room around them, any sounds they can hear, and their feet on the floor.</p></li>
          <li><p class="dfe-list__item">Have a discussion after the meditation. How was their experience? Was it what they expected? Would they like to do another meditation? If so, would they like a longer or shorter meditation?</p></li>
        </ul>
        <%= render 'layouts/components/headings/three', text: 'Other resources', bold: true %>
        <p class="govuk-body">
          Watch and play the Mindspace video in class: <a target="_blank" rel="nofollow noopener" href="https://www.mindspace.org.uk/2011/11/07/5-minute-guided-meditation-to-reduce-stress/" class="govuk-link">https://www.mindspace.org.uk/2011/11/07/5-minute-guided-meditation-to-reduce-stress/</a>.
        </p>
      </div>
    </div>
  </main>
</div>
