<% contents.each do |content| %>
  <% case content[:type] %>
  <% when :heading %>
    <%= render 'layouts/renderers/headings_renderer.html.erb', heading: content[:data] %>
  <% when :paragraph %>
    <div class="govuk-grid-row">
      <%= render 'layouts/components/paragraph', text: content[:data][:text] %>
    </div>
  <% when :image %>
    <div class="govuk-grid-row govuk-!-padding-top-9">
      <%= render 'layouts/components/images/image', alt_text: 'example image', image_src: content[:data][:url], image_width: content[:data][:width]%>
    </div>
  <% when :testimonial %>
    <div class="govuk-grid-row">
      <%= render 'layouts/components/testimonial', testimonial: content[:data] %>
    </div>
  <% when :small %>
    <div class="govuk-grid-row">
      <%= render 'layouts/components/small', text: content[:data][:text], alignment: content[:data][:alignment] %>
    </div>
  <% when :columns %>
      <div class="govuk-grid-row">
        <% content[:data][:columns].each do |column| %>
          <div class="<%= content[:data][:columns].count == 2 ? 'govuk-grid-column-one-half' : 'govuk-grid-column-one-third'%>">
              <%= render 'layouts/renderers/component_renderer', contents: column %>
          </div>
        <% end %>
      </div>
  <% when :link %>
    <div class="govuk-grid-row">
      <%= render 'layouts/renderers/link_renderer', link: content[:data] %>
    </div>
  <% when :button %>
    <div class="govuk-grid-row">
      <%= render 'layouts/renderers/button_renderer', button: content[:data] %>
    </div>
 <% when :resource_link_with_icon %>
    <div class="govuk-grid-row">
      <%= render 'layouts/components/resource_link_with_icon', 
        image_src: content[:data][:icon_url], 
        heading: content[:data][:heading], 
        text: content[:data][:text], 
        link: content[:data][:url] %>
    </div>
  <% end %>
<% end %>
