<div class="background-wide background-grey">
  <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-one-third">
      <%= render 'layouts/components/links/internal', text: 'Hiring and development', link: '/category/hiring' %>
      <%= render 'layouts/components/small', text: 'Some descriptive copy' %>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'layouts/components/links/internal', text: 'Policy', link: '/in-development' %>
      <%= render 'layouts/components/small', text: 'Some descriptive copy' %>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'layouts/components/links/internal', text: 'Pupils', link: '/in-development' %>
      <%= render 'layouts/components/small', text: 'Some descriptive copy' %>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'layouts/components/links/internal', text: 'Managing your workload', link: '/in-development' %>
      <%= render 'layouts/components/small', text: 'Some descriptive copy' %>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'layouts/components/links/internal', text: 'Curriculum', link: '/in-development' %>
      <%= render 'layouts/components/small', text: 'Some descriptive copy' %>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'layouts/components/links/internal', text: 'Staff voices', link: '/category/staff-voices' %>
      <%= render 'layouts/components/small', text: 'Some descriptive copy' %>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'layouts/components/links/internal', text: 'Finances', link: '/in-development' %>
      <%= render 'layouts/components/small', text: 'Some descriptive copy' %>
    </div>
  </div>
</div>
