<div class="background-wide background-grey">
  <div class="govuk-grid-row govuk-!-padding-top-8 govuk-!-padding-bottom-8">
    <div class="govuk-grid-column-one-half">
      <ul class="govuk-list">
        <li>
          <%= render 'layouts/components/buttons/secondary_button', link: '/category/hiring', text: 'Hiring and development' %>
        </li>
        <li>
          <%= render 'layouts/components/buttons/secondary_button', link: '/in-development', text: 'Staff wellbeing' %>
        </li>
        <li>
          <%= render 'layouts/components/buttons/secondary_button', link: '/in-development', text: 'Curriculum' %>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-half">
      <ul class="govuk-list">
        <li>
          <%= render 'layouts/components/buttons/secondary_button', link: '/in-development', text: 'Safeguarding' %>
        </li>
        <li>
          <%= render 'layouts/components/buttons/secondary_button', link: '/category/staff-voices', text: 'Teaching voices' %>
        </li>
      </ul>
    </div>
  </div>
</div>
